<header role="">
	<!-- <div class="" style="height:200px"></div> -->
	<!-- <div class="jheader">Jose's Portfolio</div> -->
	<h1>Jose's portfolio</h1>
</header>

<div class="intro_header">
	<div class="ui container">
		<div class="" style=""></div>
		<!-- <div class="header-summary"> -->
		<div class="ui two column stackable grid">
			<!-- <div class="seven wide column"></div> -->
			<div class="row" style="">
				<div class="eight wide right floated left aligned column">
					<div class="spacer"></div>
					<div class="spacer"></div>
					<div class="summary-font">I am an open source designer and sustainability advocate.<span class="text-red" style="font-style:italic"> I programmed this website from scratch using html, css, js and json. </span></div>
					<div class="spacer"></div>
					<!-- <div class="spacer"></div> -->
					<div class="ui center aligned header" style="">
						<div class="ui huge red  button" onclick="scrollDown('#t1')"> Work
						</div>
						<div class="ui huge  red button" style="margin-top:20px" onclick="scrollDown('#t2')"> Design Approach
						</div>
						<a href="./semantic/CV_2018.pdf" target="_blank"><div class="ui huge  red button" style="margin-top:20px"> CV
						</div></a>
					</div>

					<!-- <h3 class="summary-red">Work <span class="">| Design Approach</span> </h3> -->
				</div>
			</div>
			<div class="row">
				<div class="eight wide column"></div>
				<div class="eight wide center aligned column" style="">
					<div class="spacer"></div>
					<div class="spacer"></div>
					<!-- <div class="spacer"></div> -->
					<div class="contact-font">Contact me <span style="">
						<a href="https://www.linkedin.com/in/josecarlosurra86/" target="_blank">
							<i class="ui linkedin circular inverted small red icon"></i></a>
							<a href="https://github.com/jurra" target="_blank">
								<i class="ui github circular inverted small red icon"></i></a>
								<a href="mailto:jose.urra86@gmail.com"><i class="ui mail circular inverted small red icon"></i></a></span></div>
								<div class="" style="margin-top:20px;margin-left:15%">
									<i class="ui red phone volume control big icon"></i>
									+31(0)626897533
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hand"></div>
				<div class="star"></div>
				<div class=""></div>
			</div>


			<!-- Second Block -->
			<div class="red-border light_back">
				<div class="blur"></div>
				<div class="" style="height:60px"></div>
				<div class="ui container">
					<div  id="t1" class="ui two column stackable grid">
						<div class="row" style="margin-bottom:-35px!important">
							<div class="four wide column"></div>
							<div class="ten wide column">
								<h2 class="ui red header"> Work</h2>
								<div class="text-red" style="font-style:italic">Every design project has a bit of strategy, good taste, technology and magic, I run the risk of simplifying my work with these bold categories to gain in clearness</div>
							</div>
						</div>
						<!-- Strategic Product Design  -->
						<div class="row">
							<div class="four wide column">
								<img class="ui small centered image" src="./semantic/icon_rocket.png" alt="">
							</div>
							<div class="ten wide column">
								<div class="row">
									<div class="ui hidden divider">
									</div>
									<h3 class="">Strategic Product Design
										<span class="ui huge floated right red button" onclick="initPortfolio();adsliderInit(0);">
											see the projects
										</span>
									</h3>
								</div>
								<p class=""><br>Most common deliverables I end up with in these projects are opportunities and vision documentation using roadmaps, value propositions, and business model canvases within the framework of lean startup. These results are always grounded on in depth research related to the domain of the project.</p>
								<p></p>
								<div class="ui hidden massive divider"></div>
							</div>
						</div>
					</div>
					<!-- Ux Product Design -->
					<div class="ui two column stackable grid">
						<div class="row">
							<div class="four wide column">
								<div class="ui hidden divider"></div>
								<img class="ui small centered image" src="./semantic/icon-wire.png" alt="">
							</div>
							<div class="ten wide column">
								<div class="row">
									<div class="ui hidden divider">
									</div>
									<h3 class="e">UX for Digital Products
										<span class="ui huge floated right red button" onclick="initPortfolio();adsliderInit(2);">
											see the projects
										</span>
									</h3>
								</div>
								<p class=""><br>When designing for digital experiences I first map and model the most relevant interactions and workflows, ending up with critical user stories. I also profile customers/users segments using personas. The most materialized deliverables in this context are visually documented user stories, backed up by tests and evaluations, ready to enter the development pipeline.</p>
								<p></p>
								<div class="ui hidden massive divider"></div>
							</div>
						</div>
					</div>
					<!-- UX for Physical Products -->
					<div class="ui two column stackable grid">
						<div class="row">
							<div class="four wide column">
								<div class="ui hidden divider"></div>
								<img class="ui small centered image" src="./semantic/icon_gear.png" alt="">
							</div>
							<div class="ten wide column">
								<div class="row">
									<div class="ui hidden divider">
									</div>
									<h3 class="e">Industrial Design
										<span class="ui huge floated right red button" onclick="initPortfolio();adsliderInit(5);">
											see the projects
										</span>
									</h3>
								</div>
								<p class=""><br>I think of Industrial Design as UX  for physical products.Human centeredness is the dominant element also for this projects grounded by feasibility. Although deliverables change(CAD models, prototypes, simulations, calculations, usability tests), the approach in my experience remains very similar as when designing for digital contexts.</p>
								<p></p>
								<div class="ui hidden massive divider"></div>
							</div>
						</div>
					</div>
					<!-- Visual Design and Illustration -->
					<div class="ui two column stackable grid">
						<div class="row">
							<div class="four wide column">
								<div class="ui hidden divider"></div>
								<img class="ui small centered image" src="./semantic/icon_pen.png" alt="">
							</div>
							<div class="ten wide column">
								<div class="row">
									<div class="ui hidden divider">
									</div>
									<h3 class="e">Visual Design
										<span class="ui huge floated right red button" onclick="initPortfolio();adsliderInit(9);">
											see the projects
										</span>
									</h3>
								</div>
								<p class=""><br>This is the most “artistic” work I do, including graphic design, illustration and also 3D modeling. The major focus of these projects has been on making products that look and feel good, but also engage in delivering emotional impact. Every project has a little bit of this, but these collection is all about it.</p>
								<p></p>
								<div class="ui hidden massive divider"></div>
								<div class="ui hidden massive divider"></div>
								<div class="ui hidden massive divider"></div>

							</div>
						</div>
					</div>


					<div style="height:15px"></div>
				</div>
			</div>


			<!-- Inverted view -->
			<div class="red-border dark" style="">
				<div class="ui hidden divider"></div>
				<div class="ui text container">
					<div class="ui hidden divider"></div>
					<h2 class="ui centered header red">Design approach</h2>
					<!-- <p class="text-red summary-font">There are three frameworks I use combine dynamically in the projects: the Activity Centered Design suite by Larry Constantine and the suite of tools from Alexander Osterwalder and Yves Pigneur for value proposition design and business models. The last one is the agile product development approach, like SCRUM, which focus more on how make things efficiently.</p> -->
				</div>
				<div class="">
					<div id="t2" class="ui hidden divider"></div>
					<div class="ui hidden divider"></div>

					<img class="" src="img/infographic.png" alt="" style="display: block; margin-left: auto; margin-right: auto;width:90%;">
					<!-- <div class="ui container">
					<a style="background-color:transparent !important" href="https://www.testdome.com/cert/xhggx1bjrb" class="testdome-certificate-stamp silver"><span class="testdome-certificate-name">Jose Carlos</span><span class="testdome-certificate-test-name">HTML/CSS (Hard) </span><span class="testdome-certificate-card-logo">TestDome<br />Certificate</span></a><script type="text/javascript">var stylesheet = "https://www.testdome.com/content/source/stylesheets/embed.css", link = document.createElement("link"); link.href = stylesheet, link.type = "text/css", link.rel = "stylesheet", link.media = "screen,print", document.getElementsByTagName("head")[0].appendChild(link);</script> -->
				</div>

				<!-- Activity Centered Design -->
				<!-- <div class="row">
				<div class="ui ten wide column">
				<div class="ui hidden divider"></div>
				<h3 class="text-light-blue">Activity Centered Design</h3>
				<p class="text-light-blue">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="ui six wide column">
			<img class="ui fluid image" src="./semantic/icon_activity.png" alt="">
		</div>
	</div> -->
	<!-- Value Proposition -->
	<!-- <div class="row">
	<div class="ui ten wide column">

	<h3 class="text-light-blue">Value Proposition Design</h3>
	<p class="text-light-blue">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a class="text-red">Duis aute irure dolor in reprehenderit</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim <br>id est laborum...<span class="ui red large compact button"> read more </span></p>
</div>
<div class="ui six wide column">
<img class="ui fluid image" src="./semantic/icon_value_proposition.png" alt="">
</div>
</div> -->
<!-- Design for implementation  -->
<!-- <div class="row">
<div class="ui ten wide column">
<h3 class="text-light-blue">Design for feasibility</h3>
<p class="text-light-blue">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="ui six wide column">
<img class="ui fluid image" src="./semantic/icon_implement.png" alt="">
</div>
</div> -->
<!-- <div class="ui hidden divider">	</div> -->
<!-- <div class="ui hidden divider">	</div> -->
<!-- <div class="ui hidden divider">	</div>
<div class="ui hidden divider">	</div> -->
<!-- <div class="row">
<div class="ui red header">Contact me <span style="">
<i class="ui linkedin circular inverted small red icon"></i>
<i class="ui github circular inverted small red icon"></i>
<i class="ui mail circular inverted small red icon"></i></span>
<h3 class="ui red header" style="margin-top:20px;margin-left:15%">
<i class="ui red phone volume control big icon"></i>
+31(0)626897533</h3></div>
</div> -->

</div>
</div>
<!-- Test Dome certificate -->

<div class="red-border"></div>
<!-- <div class="intro_header" style="height:650px;z-index:-2">
<div class="eight wide right floated left aligned column">
<div class="spacer"></div>
<div class="spacer"></div>
<div class="summary-font">I do interaction design beyond user centeredness. Designing for human interaction is also about influencing social relations through technology to achieve something. I love to learn from others, explore and experiment. <span class="text-red" style="font-style:italic">This portfolio is also an experiment! I coded it from scratch and shared it on github.</span></div></div>
</div> -->
